.free-flow, .fixed-flow, .branch-flow, .pending-node {
  .weui-uploader__file {
    display: flex;
    flex-wrap: wrap;
    //flex-direction: column;
    align-items: center;
    height: ~"120rpx";
    width: ~"120rpx";
    text-align: center;
    justify-content: center;

  }
  .cc-man {
    padding-top: 10px;
  }
  .weui-uploader__input-box, .weui-uploader__img {
    height: ~"100rpx";
    width: ~"100rpx";
  }
  .user-name {
    text-align: center;
    font-size: .7rem;
  }
}
